body {
  font-family: "DejaVu Sans", "Montserrat", sans-serif;
}

.destination {
  box-sizing: border-box;
  max-width: 35rem;
  height: 43rem;
  margin: 2.5rem auto;
  box-shadow: 0px 0px 4px #0000003b;
  cursor: pointer;
  border-radius: 9px;
  transition: transform 0.3s ease;
  width: 90%;
}

.destination:hover,
.destination:active {
  transform: scale(1.05);
}

.thumbnail {
  width: 100%;
  height: 32rem;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  margin-top: 2rem;
}

.content h1 {
  margin: 10px 0;
  font-family: none;
  color: #656565;
  font-family: "DejaVu Sans", "Montserrat", sans-serif;
}

p {
  width: 90%;
  margin: auto;
  color: #5b5b5b;
  font-family: "DejaVu Sans", "Montserrat", sans-serif;
}
