body {
  font-family: "Montserrat", sans-serif;
}

.destination {
  box-sizing: border-box;
  width: 35rem;
  height: 43rem;
  margin: 20px auto;
  box-shadow: 0px 0px 4px #0000003b;
  cursor: pointer;
  border-radius: 9px;
  transition: transform 0.3s ease;
}

.destination:hover,
.destination:active {
  transform: scale(1.05);
}

.thumbnail {
  width: 100%;
  height: 32rem;
  overflow: hidden;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  margin-top: 2rem;
}

.content h1 {
  margin: 10px 0;
  font-family: none;
  color: #656565;
}

p {
  width: 90%;
  margin: auto;
  color: #5b5b5b;
}
